@import "variables";
@import "global";
@import "heading";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}

h1 {
  margin: 30px;
}

.company-table {
  width: 450px;
}
